.nav{
    width: 100%;
    
    height: 100px;
    z-index: 1000;

    position: fixed;
}

.activeNav{
    width: 100%;
    height: 100px;
    z-index: 1000;
    margin-top: -6%;
    position: fixed;
    background: url(https://image.freepik.com/free-psd/abstract-background-design_1297-88.jpg) no-repeat;
    background-size: cover;
    background-position: 50%;
}
.activeNav>div{
    margin-top: 2%;
}
.searchDiv{
    width: 50%;
    margin: auto;
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;

}
.input{
    width: 78%;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    background: transparent;
    margin-left: 2%;
    font-size: 110%;
}
.button{
    width: 18%;
    height: 50px;
    border-radius: 10px;
    margin-left: 1%;
    border: transparent;
    background-color: yellow;
}
.topMainDiv{
                     
    background: url(https://image.freepik.com/free-psd/abstract-background-design_1297-88.jpg) no-repeat;
background-size: cover;
background-position: 50%;
background-color: tomato;
height: 400px;
width: 101%;
        margin-top: -10px;
        margin-left: -0.5%;
        padding-top: 70px;
    }



body{
    background-color: gray;
}

.container{
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: -10%;
    position: absolute;
    margin-left: 2%;
    
    
}
.container>div{
    margin-left: 2%;
    width: 18%;
}
.ImageDiv{
    margin-top: 10%;
    padding: 5px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 20px;
    
}
.ImageDiv:hover{
    background-color: rgb(255,255,255);
    cursor: pointer;
}
.ImageDiv>p{
    font-size: 70%;
    margin-top: 5px;
    text-align: center;
}
.ImageDiv>img{
    width: 100%;
    border-radius: 20px;
}


.profilDiv{
    margin-top: 10px;
    display: flex;
    margin-left: 2%;
}
.profilDiv img{
    border-radius: 50%;
}
.profilDiv span{
    margin-left: 4%;
    font-size: 110%;
}

.topMainDiv p{
    text-align:center;
    font-size:550%;
    font-weight:bold;
    color:white;
}

@media (max-width: 950px) {
   .container{
       background-color: yellow;
   }
   .activeNav{
    margin-top: -8%;
    
   }
   .input{
       width: 230px;
   }
   .searchDiv{
    width: 300px;
   }
   .profilDiv img{
    width: 30px;
    border-radius: 20px;
   }
   .profilDiv span{
    margin-left: 4%;
    font-size: 13px;
}
  }

  @media (max-width: 720px) {

    .container{
        background-color: red;
    }
    .activeNav{
            margin-top: -10%;
        
       }
       .profilDiv img{
        width: 20px;
        border-radius: 20px;
       }
       .profilDiv span{
        margin-left: 4%;
        font-size: 11px;
    }
       

  }

  @media (max-width: 620px) {

    .container{
        background-color: green;
    }
    .activeNav{
            margin-top: -60px
        
       }

       .profilDiv img{
        width: 20px;
        border-radius: 20px;
       }
       .profilDiv span{
        margin-left: 4%;
        font-size: 9px;
    }

  }